body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(34, 23, 23);
}

header {
  background-image: url("https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
}

.header-wrapper {
  display: flex;
  margin: 0px auto;
  max-width: 100%;
}

h1 {
  font-size: 85px;
  font-family: "Cormorant Infant", serif;
  font-weight: bold;
  color: rgb(34, 23, 23);
  margin: 3% auto;
}
h2 {
  font-family: "Cormorant Infant", serif;
  font-size: 45px;
  font-weight: 500px;
  color: rgb(0, 202, 228);
  text-align: left;
  margin-left: 25px;
}

ul {
  font-weight: bold;
  padding: 0px;
  background-color: rgb(34, 23, 23);
  margin-top: 20px;
  list-style: none;
  text-align: center;
}

li a {
  display: flex;
  color: #221717;
  padding: 20px;
  font-family: "Cormorant Infant", serif;
  background-color: #e0bab0;
  font-weight: 400px;
  font-size: 18px;
  border-radius: 3px;
  text-decoration-line: none;
  box-shadow: 2px 1px 1px 2px rgb(1, 108, 120);
  border: 1px solid rgb(0, 177, 202, 0.5);
}

li {
  display: inline-block;
  right: 100%;
}

li a:hover {
  background-image: linear-gradient(to bottom right, #016c78, #e1b9b0);
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
}
.getTickets {
  border-radius: 1px;
  padding: 35px;
  font-family: "Cormorant Infant", serif;
  font-size: 45px;
  box-shadow: 2px 2px 2px 2px #016c78;
  color: #f7f7f7;
  background-image: linear-gradient(to bottom right, #016c78, #e1b9b0);
  font-weight: 900;
  margin: 50px auto;
}
.getTickets:hover {
  cursor: pointer;
  color: rgb(34, 23, 23);
  background-color: #e1b9b0;
  border: 5px outset rgba(34, 23, 23, 0.9);
  border-radius: 10px;
}

.bands {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 5px;
  margin-top: -26px;
  justify-content: space-evenly;
  text-align: center;
}
.artist img {
  width: 399px;
  height: 319px;
  margin: 10px;
  padding: 15px;
  border-radius: 9px;
  box-shadow: 2px 2px 2px 2px #f7f7f7;
  background-image: linear-gradient(to bottom right, #e1b9b0, #016c78);
}

.bands .artist:hover img {
  background-color: rgba(34, 23, 23, 0.9);
  opacity: 0.5;
}

.description {
  text-align: center;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  padding: 5px;
  color: #f7f7f7;
  text-decoration: underline;
}
